<a class="<%= @css_class %>" id="<%= @id %>" title="<%= @title %>" onclick="open_ajax_dialog('<%= URI.escape(@dialog_id) %>', '<%= @url %>', '<%= @title %>', '<%= @height%>', '<%= @width %>');" href="javascript:void(0)" /> <%= @content %> </a>
