<style>

#steps_container ul li { 
  display: inline; 
  margin:0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
}
#interface_steps {
  
  list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
#interface_steps .active {color: red}
#steps_container ul li 
{
background: url("/images/jqgrid/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    font-weight: bold;
    outline: medium none;
    
}
#steps_container ul li a{
  text-decoration:none;
}
#steps_container ul li a:hover
{
color: #fff;

}

#steps_container .tab{
  border:1px solid #c0c0c0;
}
.ui-tabs-panel{margin-bottom:10px;min-width:669px;}
.default-container {color:#fff;}
</style>
<h1>Edit interface: <%= @interface.interface_title %></h1>

<% form_for :interface, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
	<%= hidden_field_tag :id, @interface %>
	<%= hidden_field_tag :current_panel %>
 <div id="steps_container">
 
  <ul id="interface_steps" >
    <li class="active"><a onclick="copy_current_panel(this)" href="#general">General data &raquo;</a></li>
    <li class=""><a onclick="copy_current_panel(this)" href="#tab_selection_rule">Interface Selection Rules &raquo;</a></li>
    <li class="concrete"><a onclick="copy_current_panel(this)" href="#tab_concrete_description"> Concrete Description</a></li>
		<li class="abstract"><a onclick="copy_current_panel(this)" href="#tab_abstract_scheme"> Abstract Description and Rules &raquo;</a></li>
    <li class="abstract"><a onclick="copy_current_panel(this)" href="#tab_concrete_mapping_rules">Concrete Mapping</a></li>
    
  </ul>
 
  <div id="general" class="ui-tabs-panel">
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :interface_name %>
    </p>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :interface_title %>
    </p>
  </div>
  
  <div id="tab_selection_rule" class="ui-tabs-panel">
     <p>
      <%= f.label :interface_weight %><br /> 
      <%= f.select :interface_weight, (1..30), :selected => @interface.interface_weight.to_s.to_i %>
     
    </p>
    <p>
      <%= f.label :interface_selection_rule %><br />
      <%= f.text_area :interface_selection_rule, :rows => 5, :cols => 71 %>
    </p>
		<p>
      <%= f.label :description_type %><br /> 
      <%= f.select :interface_description_type, ["Abstract", "Concrete"], {:selected => @interface.interface_description_type.to_s}, {:onChange => 'toogle(this.value)'} %>
    </p>
  </div>
	
  <div id="tab_concrete_description" class="ui-tabs-panel">
    <p>
      <%= f.label :abstract_description %><br />
      <%= f.text_area :abstract_spec, :rows => 10, :cols => 71 %>
    </p>
    
  </div>
	<div id="tab_abstract_scheme" class="ui-tabs-panel">
    <p>
      <%= f.label :abstract_description %><br />
      <%= f.text_area :abstract_scheme, :rows => 10, :cols => 71 %>
    </p>
    <p>
      <%= f.label :abstract__composition_rules %><br />
      <%= f.text_area :abstract_rules, :rows => 10, :cols => 71 %>
    </p>
  </div>
  <div id="tab_concrete_mapping_rules" class="ui-tabs-panel">
		<p>
			<%= f.label :concrete_mapping_rules %><br />
			<%= f.text_area :concrete_mapping_rules, :rows => 13, :cols => 71 %>
		</p>
		<p>	
			<%= f.label :concrete_extensions %><br />
			<%= f.text_area :concrete_extensions, :rows => 3, :cols => 71 %>
		</p>
  </div>
 </div> 
  <p style="clear:both;">
    <%= f.submit 'Save' %> <%= f.submit 'Save and Continue' %>
  </p>
<% end %>

<script>
    function copy_current_panel(obj){
			$('#current_panel').attr('value', obj.href);
		}
		toogle = function(value){
				show = '.' + value.toLowerCase();
				hide = '.' + (value == 'Abstract' ? 'concrete' : 'abstract');
				$(hide).hide();
				$(show).show();
				
			}
		$(document).ready(function() {
			<%
				hide = (@interface.interface_description_type.to_s == 'Abstract' or @interface.interface_description_type.empty?) ? 'concrete' : 'abstract'
			%>
			
			$('.<%= hide %>').hide();
			
			$('#current_panel').attr('value', window.location.href);
			codemirror_instance("interface_interface_selection_rule");
			codemirror_instance("interface_abstract_scheme");
			codemirror_instance("interface_abstract_spec", 'ruby');
			codemirror_instance("interface_abstract_rules");
			codemirror_instance("interface_concrete_mapping_rules");
			codemirror_instance("interface_concrete_extensions");
			$("#interface_steps").tabify();
		});
		
    
  </script>



<%= link_to 'Back', interfaces_path %>