<div id="<%= @id %>" name="<%= @name %>" value="<%= @content %>" class="<%= @css_class %>"> Loading <%= @url%></div>
<script>
	$(function() { 
		$.ajax({
        url: "<%= @url%>",
        dataType: "html",
        //timeout: 7000,
        success: function(data) {
          $('#<%=@id%>').html(data);
        },
        error: function(data){ $('#<%= @id %>').html("Request failed");}
      });
	
	});
	
	
	
</script>
