<a class="<%= @css_class %>" id="<%= @id %>" title="<%= @title %>" onclick="jquery_open_ajax_dialog('<%= URI.escape(@dialog_id) %>', '<%= @url %>', '<%= @title %>', '<%= @height%>', '<%= @width %>', '<%= self.relative_path%>');" href="javascript:void(0)" /> <%= @content %> </a>


