<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE><%= title %> </TITLE>
			<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;target-densitydpi=low-dpi;"/>
	  <% css_libs.each do |path| %>  
        <link type="text/css" href="<%= path %>" rel="stylesheet" />
	  <% end %>
      <% js_libs.each do |path| %>  
        <script src="<%= path %>" type="text/javascript"></script>
	  <% end %>
	  
   </HEAD>
   <BODY id="<%= @id%>" class="<%= @css_class%>">
      <%= content %>	  
   </BODY>
</HTML>